.banner {
    position: relative;
}


.banner img {
    width: 100%;
    background-attachment: fixed;
     
    background-size: left;
    

}

/* banner 下方后里馬場的文字 */
.base {
    width: 600px;
    padding:25px 0;
    position: absolute;
    bottom: 0px;

    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 50px;
    font-family: "微軟正黑體";
    letter-spacing: 70px;
    padding-left: 70px;
}
@media(max-width:600px){
    .base{
        width: 100%;
        letter-spacing: 50px;
        padding-left: 25px;
    }
}@media(max-width:470px){
    .base{
        font-size: 30px;
        letter-spacing: 20px;
        padding: 0 0 0 20px;
    }
}
/* ------------section#t1 關於馬場 ------------------ */
section#t1{
    background-color: #F2ECE7;
}
section#t1 .container {
    width: 100%;
    /* background-color: #BD9778; */
    /* background-color: #9FBACA; */

}

/* .row {
    padding: 10px 0px 40px 0px;
} */
.title{
    margin: 0 auto;
    width: 50%;
    min-width: 280px;
    border: solid 3px #5B2C0C;
}
.pat30{
    padding-top:30px ;
}

.pab50{
    padding-bottom: 50px;
}
.title_text{
    color: #5B2C0C;
    padding-left: 20px;
    font-size: 40px;
    font-family: "微軟正黑體";
    letter-spacing: 20px; 
    text-align: center;
}


section#t1 .row .col-md-7 img {
    width: 100%;

}

.part {
    display: flex;
    padding: 50px 0px;

}

.aaa {
    display: flex;
    align-items: center;
}

.t1-text {
    color: black;
    font-size: 28px;

    padding: 30px 5px;
}
.pat30 {
    padding-top: 30px;
}

@media(max-width:960px){
    
    section#t1 .row .t1-text{
        font-size:20px ;
    }
}






/*---------------- section#t2-活動體驗 ------------*/

section#t2 {
    width: 100%;
    /* background-color: #BD9778; */
    background-color: #D2DAE0;
    /* 更改背景顏色 */
}
section#t2 .row img{
    width: 100%;
   
}

section#t2 .row .picsize{
    width: 100%;
    height: 905px;
  
    background-size: cover;
    overflow: hidden;
}

section#t2 .row .t2-pic1{
    background-image: url(../img/t2-1xxxxx.jpg);
    /* background-attachment: fixed; */
}
section#t2 .row .t2-pic2{
    background-image: url(../img/t2-2xx.jpg);
}

section#t2 .row .t2-pic3{
    background-image: url(../img/t2-3xx.jpg);
}

/* .mask{
    width: 100%;
    height: 905px;
    background-color: rgba(0, 0, 0, 0.849);
    z-index: 22;
} */


.pa0{
    padding: 0 !important;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
    padding: 30px 0 0 0 ;  
}
.no-gutters>.col,
.no-gutters>[class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

section#t2 .row .mask{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 85%;
    left: 0%;
    transition: 0.5s;
    color: white;
    align-content: center

    
}

section#t2 .row .mask h2{
    padding: 50px;
    text-align: center;
}

section#t2 .row .mask p{
    font-size: 24px;
    padding: 0 50px;
    text-align: center;
    
    
}

section#t2 .row .mask:hover{
    top: 0PX;
    color: white;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    
}




/* -------------section#t3-景點文化 ----------------*/

section#t3 .row{
    width: 100%;
}

section#t3 .row img{
    background-size: cover;
    background-position: center;
    width: 100%;
    

}
section#t3 .row a{
    width: 9%;
    position: absolute;

}

section#t3 .row .animate{
    animation-name: Aanimate;
    animation-duration: 1.1s;
    animation-iteration-count: infinite;
}
section#t3 .row .animate:hover{
    animation-duration: 0.75s;
    animation-name: Aanimate_hover;
}
@keyframes Aanimate{
    0% { transform: translate(0px, 0px); }
    50% { transform: translate(0px, -10px); }
     100% { transform: translate(0px, 0px); }
}
@keyframes Aanimate_hover{
    0% { transform: translate(0px, 0px) scale(1.2); }
    50% { transform: translate(0px, -20px) scale(1.2); }
     100% { transform: translate(0px, 0px)scale(1.2); }
}
section#t3 .row a:nth-child(2){
    top: 20%;
    right: 20%;
}
section#t3 .row a:nth-child(3){
    top: 47%;
    right: 45%;
}section#t3 .row a:nth-child(4){
    top: 76%;
    right: 40%;
}section#t3 .row a:nth-child(5){
    top: 68.5%;
    right: 58.5%;
}section#t3 .row a:nth-child(6){
    top: 60%;
    right: 78.5%;
}
/* ---------------section#t4-園區資訊--------------- */
section#t4{
    width: 100%;
    background-color: #BD9778;
    /* 更改背景顏色 */
}


/* 票價資訊 */
section#t4 .container .t4-t {
    color: white;
    font-size: 18px;
    font-family: "微軟正黑體";
    letter-spacing: 10px;
    text-align: center;
    background-color: #ED5A65;
    
    padding-left: 5px;
    line-height: 18px;
   

    width: 250px;
    padding: 5px 0;
   
    display: flex;
    justify-content: center;
    margin-bottom:-20px; 
    margin: 0 auto;
    transform: translateY(-100%);
   
}
section#t4 .container.hug{
    /* width: 1140px; */
    /* height:600px; */
    border: solid 2px white;
    border-radius: 20px;
    padding: 20px 50px;
    
}

section#t4 .container.hug .row .col-12{
    width: 1140px;
    /* height:600px; */
    border-radius: 20px;   
    
} 

.div-radius{
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;

}

/* 票價資訊中每個活動的標題格式設定*/
section#t4 .container .t1-text .t4-t2{
    
    color: #604D46;
    /* font-size: 18px; */
    font-family: "微軟正黑體";
    letter-spacing: 10px;
    text-align: center;
    background-color: #E5E5E5;
    width: 150px;
    /* margin: auto; */
    display: flex;
    padding-left:10px ;
    justify-content: center;
}

section#t4 .container .t1-text .t4-c2{
    font-family: "微軟正黑體";
    padding: 20px 0px 0px 0px;
    text-align: center;
    color: white;
    
}


/* ------------section#t5-最新消息----------------- */
section#t5{
    width: 100%;
    background-color: #DCC0AA;
    /* 更改背景顏色 */
}
section#t5 .row #t5_img img{
    width: 100%;
}
section#t5 .row #t5_img .more{
    width: 100%;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    text-align: center;
    position: relative;
    bottom: 44px;
    display: none;
   /* 圖片上的more 更多內容 */
} 
section#t5 .row .Card_text{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 10px;
    border: 1px black solid;
    font-size: 20px;
    position: relative;
}
section#t5 .row .Card_text hr{
    background-color: black;
   
}

section#t5 .row .Card_text span{
    font-weight: 800;
}

section#t5 .row .Card_text span:hover{
    color: #E25959;
    font-weight: 800;
}


section#t5 .row .Card_text .more{
    font-size: 8px;
    padding: 0 3px;
    border-radius: 3px;
    /* background-color: black; */
    color: black;
    position: absolute;
    bottom: 10px;
    right: 5px;
    border: solid 1px black;
     /* 標題上的more 更多內容 */
}

section#t5 .row .Card_text .more:hover{
    font-size: 8px;
    padding: 0 3px;
    border-radius: 3px;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 10px;
    right: 5px;
    /* border: solid 1px black; */
     /* 標題上的more 更多內容 */
}

.mart30{
    margin-top: 30px;
}
@media(max-width:800px){
    section#t5 .row .Card_text .more{
        display: none;
    }
    section#t5 .row #t5_img .more{
        display: block;
    }
    section#t5 .row .Card_text{
        height: 100px;
        overflow-y: scroll; 
    } 
}

 /* 滾輪效果 */
 /* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #B7673C;
    border-radius: 10px;
  }
/* -----------section#t6-交通指南------------ */
  section#t6 .row .Card{
      background-color: #BD9778;
      color: white;
      text-align: center;
      padding: 20px;
      font-size: 20px;
  }
  .minh300{
      min-height: 300px;
  }
@media(max-width:960px){
    section#t6 .row .Card{
        height: 300px;
        overflow-y: scroll; 
        margin-top: 30px;
    } 
}
