@charset "UTF-8";
.magaintb_30 {
  margin: 30px 0px;
}

.banner {
  width: 100%;
  height: 100vh;
  background-color: #A74B4B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.banner h2 {
  margin: 0 400px 0 0;
  width: 100%;
  font-size: 100px;
  text-align: center;
}

.banner h1 {
  width: 100%;
  font-size: 110px;
  text-align: center;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, 2px 2px 2px black;
  text-shadow: 0.1em 0.1em 0.2em black;
}

@media (max-width: 720px) {
  .banner h2 {
    margin: 0 200px 0 0;
    font-size: 36px;
    text-align: center;
  }
  .banner h1 {
    font-size: 48px;
  }
}

section#aboutme .abme-title {
  background-color: #3a3a3a;
  width: 100%;
  height: 100vh;
  -webkit-transition: 1s;
  transition: 1s;
}

section#aboutme .abme-title h1 {
  height: 100%;
  font-size: 100px;
  color: #ffecec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 720px) {
  section#aboutme .abme-title h1 {
    font-size: 48px;
  }
  section#aboutme #me-pic {
    margin-top: 0px;
  }
}

section#aboutme {
  width: 100%;
  margin-bottom: 100px;
}

section#aboutme #me-pic {
  height: 80vh;
  background-image: url(../img/aboutme.jpg);
  background-size: cover;
  background-position: top;
  padding-right: 0px;
  padding-left: 0px;
  margin-top: 100px;
}

section#aboutme #me-text {
  width: 100%;
  height: 100%;
  margin: auto 0px;
  font-size: 24px;
  padding: 0px 40px;
  text-align: justify;
  line-height: 48px;
  letter-spacing: 2px;
}

section#aboutme #me-text p {
  width: 100%;
  display: -webkit-box !important;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}

section#aboutme #me-text p::before {
  content: '我';
  font-size: 48px;
}

section#aboutme .PC_window {
  display: block;
  position: relative;
}

section#aboutme .PC_window a .A_inbox {
  font-size: 36px;
  width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: -130px;
  right: 200px;
  text-decoration: none;
  color: black;
}

section#aboutme .PC_window a .A_inbox .arrow {
  width: 20px;
  height: 20px;
  background-image: url(../img/arrow.jpg);
  background-size: cover;
  margin-top: 15px;
}

section#aboutme .PC_window a .A_inbox::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0%;
  width: 0;
  border-bottom: 2px solid #000;
  -webkit-transition: 1s;
  transition: 1s;
}

section#aboutme .PC_window a .A_inbox:hover:after {
  width: 100%;
}

section#aboutme .Phone_window {
  display: none;
}

@media (max-width: 720px) {
  section#aboutme .abme-title h1 {
    font-size: 48px;
  }
  section#aboutme #me-pic {
    margin-top: 0px;
  }
  section#aboutme #me-text {
    margin-top: 20px;
  }
}

@media (max-width: 960px) {
  section#aboutme #me-pic {
    margin-top: 0px;
  }
  section#aboutme #me-text {
    margin-top: 20px;
  }
}

section#Portfolio {
  width: 100%;
  background-color: #A74B4B;
}

section#Portfolio .container {
  padding: 30px;
}

section#Portfolio .container .mask {
  overflow: hidden;
}

section#Portfolio .container .pic {
  width: 100%;
  height: 400px;
}

section#Portfolio .container .ps-pic {
  background-image: url(../img/Photoshop.jpg);
  background-size: cover;
  background-position: center;
}

section#Portfolio .container .ai-pic {
  background-image: url(../img/Illustraor.jpg);
  background-size: cover;
  background-position: center;
}

section#Portfolio .container .html-pic {
  background-image: url(../img/htmlcj.jpg);
  background-size: cover;
  background-position: center;
}

section#Portfolio .container .pic:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
/*# sourceMappingURL=index.css.map */