*{
   
    box-sizing: border-box;
    
}
body{
    margin:0px;
    padding: 0px;
    font-family: "微軟正黑體"
}

.navbar {
    padding: 0 8px 0 0;
    position: fixed ;
    z-index: 9999999;
    width: 100%;
    
}
nav{
    
//---------  漢堡條----------
    #toggle {
        width: 28px;
        height: 30px;
        margin: 10px auto;
        float: right;
        margin-right: 15px;
        display: none;
      }
      
    #toggle div {
        width: 100%;
        height: 5px;
        background: white;
        margin: 4px auto;
        transition: all 0.3s;
        backface-visibility: hidden;
    }
      
    #toggle.on .one {
        transform: rotate(45deg) translate(5px, 5px);
    }
      
    #toggle.on .two {
    opacity: 0;
    }
      
    #toggle.on .three {
        transform: rotate(-45deg) translate(7px, -8px);
    }
    


    @media(max-width:992px) {
        #toggle {
            display: block;
        }
        
        .navbar-nav{
        
            height: 100vh;;
        }
    }

   

    .navbar-nav a {
        font-size: 24px;
    }

    #navbarNav.show{
        height: 100vh;
        transition: .2s;
        -webkit-overflow-scrolling:touch;
    }

    // #navbarNav.show .navbar-nav{
    //     height: 100vh;
    //     transition: .2s;
    //     -webkit-overflow-scrolling:touch;
    // }
    
    .navbar-nav{
        
        margin: auto;
        li.nav-item{
        margin: 0 25px 0px 25px;
        
            a{
            font-size: 24px;
            color: white;
            
            

                p{
                color: white;
                margin-bottom: 0px;
                padding-bottom: 10px;


                margin: 0 0 0 auto;
                font-size: 24px;
                text-decoration: none;
                position: relative;
                
                 border-bottom: solid 2px rgb(255, 191, 14);   
                };
                p:hover{
                    color:  rgb(255, 191, 14);
                    border-bottom:none; 
                }

                p:after {
                    content: '';
                    position: absolute;
                    bottom: -2px;
                    left: 0%;
                    width: 0;
                    border-bottom: 2px solid rgb(255, 191, 14);
                    transition: 1s;
                    
                }
                
                p:hover:after {
                    width: 100%;
                }
            }

           
            // a:hover{
            // color: yellow;
            
            // // border-bottom: solid 1px yellow;
            // }

           
            //     // border-bottom: solid 1px yellow;
            //     padding-bottom: 10px;
                
            // }

            // #navbarNav a p {
            //     margin: 0 0 0 auto;
            //     font-size: 24px;
            //     text-decoration: none;
            //     position: relative;
            //     color: rgb(255, 191, 14);
            // }
            

            
    
        }    
    }
 

}