section#Portfolio-web .bgc-web {
  background-color: #9b8888;
  padding-bottom: 100px;
}

section#Portfolio-web .bgc-web h2 {
  width: 100%;
  padding: 100px 0px 100px 150px;
  font-size: 64px;
  font-weight: bolder;
  margin: auto;
}

section#Portfolio-web .bgc-web span {
  width: 100%;
  color: #3e3838;
  font-size: 26px;
  padding: 0px 50px 30px 150px;
  margin: auto;
  margin-top: -80px;
}

@media (max-width: 992px) {
  section#Portfolio-web .bgc-web h2 {
    width: 100%;
    text-align: center;
    font-size: 40px;
    padding: 50px 0px 0px 0px;
    margin: auto;
    margin-bottom: 30px;
  }
  section#Portfolio-web .bgc-web span {
    color: #3e3838;
    font-size: 20px;
    padding: 0px 0px 30px 0px;
    text-align: center;
    margin: auto;
    margin-top: 0px;
  }
}

@media (max-width: 576px) {
  section#Portfolio-web .bgc-web h2 {
    font-size: 36px;
    padding: 50px 0px 0px 0px;
    margin: auto;
    margin-bottom: 30px;
  }
  section#Portfolio-web .bgc-web span {
    color: #3e3838;
    font-size: 16px;
    padding: 0px 15px 30px 15px;
  }
}

section#Portfolio-web .row {
  padding: 0px 80px;
}

section#Portfolio-web .row .pic {
  width: 100%;
  height: 50vh;
}

section#Portfolio-web .row .webpic1 {
  background-image: url(../img/web-pic1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

section#Portfolio-web .row .text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

section#Portfolio-web .row .text h3 {
  color: #2a2a2a;
  padding: 0px 0px 0px 50px;
  font-size: 36px;
  font-weight: 600;
}

section#Portfolio-web .row .text p {
  color: white;
  padding: 0px 20px;
  font-size: 24px;
  text-align: justify;
}

section#Portfolio-web .row .QRcode {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 50px 50px 50px 50px;
}

section#Portfolio-web .row .QRcode .pic {
  width: 195px;
  height: 195px;
}

section#Portfolio-web .row .QRcode .horseQR {
  background-image: url(../img/horse-QRcode.png);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 991px) {
  section#Portfolio-web .row .webpic1 {
    background-size: cover;
  }
  section#Portfolio-web .row .text h3 {
    padding: 30px 0px 0px 20px;
    font-size: 36px;
    font-weight: 600;
  }
  section#Portfolio-web .row .text p {
    font-size: 24px;
    padding: 10px 30px;
  }
  section#Portfolio-web .row .QRcode {
    padding: 0px 50px 0px 0px;
    text-align: end;
  }
}

@media (max-width: 576px) {
  section#Portfolio-web .row .text p {
    font-size: 20px;
    padding: 10px 20px;
  }
}

@media (max-width: 991px) {
  section#Portfolio-web .row {
    padding: 0px 5px;
  }
}

section#Portfolio-web .row {
  padding: 0px 80px;
}

section#Portfolio-web .row .pic {
  width: 100%;
}

section#Portfolio-web .row .webpic2 {
  background-image: url(../img/web-pic2.jpg);
  background-size: cover;
  background-repeat: repeat;
  background-position: top center;
  margin-top: 50px;
}

section#Portfolio-web .row .text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

section#Portfolio-web .row .text p {
  font-size: 24px;
}

section#Portfolio-web .row .text .QRcode {
  width: 100%;
  text-align: end;
}

section#Portfolio-web .row .text .QRcode .pic {
  width: 195px;
  height: 195px;
}

section#Portfolio-web .row .text .QRcode .teamQR {
  background-image: url(../img/team-QRcode.png);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 991px) {
  section#Portfolio-web .row {
    padding: 0px 5px;
  }
}
/*# sourceMappingURL=Portfolio-web.css.map */