// -------顏色-------
$color1 : #567AA8;
$color2 : #494949;
$color3 : #D7E7F9;
$color-white:white;
$color-white07:rgba(255, 255, 255, 0.445);

$color-black:black;

// -------尺寸---------
$size-40:40px;
$size-36:36px;
$size-20:20px;

// -----照片-----------



// -------屬性--------

// ----背景圖-------------
/* 背景色-關於我們 */
.bg-pic{
    // background-color: red($color: #000000);
    background-image: url(../img/background-w7-07.jpg);
}


.title{
padding: 5px 0;
text-align: center; 
// background-color: $color1;
font-size: $size-40;
color:$color-white;
    
}

.row.border-bottom{
border-bottom: solid 2px $color-black !important;
}

.container .row{
   
    

    .card{
        background-color: unset;

        .c-title{
            height: 120px;
            text-align: center;
            color: $color-white;
            font-size: $size-36;
            background-color: $color2;
            
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .c-contain{
            height: 320px;
            // padding: 10px 5px 0px 5px;
            
            background-color:rgba(255, 255, 255, 0.575);
            
            color: $color-black;
            font-size: $size-20;
            padding:50px 50px 0px 50px ;
            text-align: justify;
        }
    }   
}

@media(max-width:991px){
   
   
    

    .container .row .card{
        margin: 25px 0px;
    }
}

.line{
    width: 80%;
    height: 3px;
    background-color: $color2;
    margin: auto;
    margin-top: 20px;
}


// 理事長的格式
.container{
    img{
        background-size: cover;
        margin-top: 30px;  
        border: solid 10px $color2;
    }

    .row #pic{
        position: relative;
    }

    .mask{
        width: calc(100% - 30px);
        height: 50px;
        background-color: rgba(0, 0, 0, 0.575);
        color: white;
        text-align: center;

        position: absolute;
        bottom: 0px;
    }

    .mag-text{
        margin-top: 30px;
        background-color: $color2;
        color: $color-white;
        font-size: $size-20;
        padding:62px 50px 63px 50px ;
        text-align: justify;
    }
}